/* 
transform:translate(),scale(),rotate(),skew()
*/

div {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.one{
    background: red;
    transform: translateX(50%);
    transform: scale(3,5);
    
}
.two{
    background: green;
    transform: translateY(75px);
    transform: scale(0.5,0.25);
}
.three{
    background: blue;
    transform: translateX(-40px);
    transform: scale(1.25,0.5);
   
}


.four {
    background: rgb(119, 255, 0);
    transform: rotate(50deg);
    transform: skew(80deg);
}