/* 
display:flex; -> MAIS UTILIZADO
display: inline-flex;

================================================================
flex-direction: row ou column e row-reverse and column-reverse
row (default)
================================================================

=====================================
flex-wrap: nowrap, wrap wrap-reverse
=====================================

================================================================
justify-content horizontal alignment
-> flex-start(default) flex-end center
evenly distributed
->space-between //first item flex-start and last item flex end.
->space-around //side margins
->space-evenly //even margins
================================================================

================================================================
align-items vertical alignment (container needs height to work)
stretch(default), flex-start flex-end center
baseline
================================================================

==============
align-content
==============


=========================
main axis and cross axis
=========================

CHILDREN PROPERTIES:

============================================
order (0 default) (children of the element)
============================================

=======================================================
align-self
-> Aplicar uma propriedade align em apenas um elemento

=======================================================


*/


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f3f3f3;
}

.container{
    border: 5px solid red;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    align-items: flex-end;
    height: 400px;
    
}

.generic{
    background: red;
}

.box{
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #f3f3f3;
}

.box-1 {
    background: #581f18;
}
.box-2 {
    background: #f0a202;
}
.box-3 {
    background: #d95d39;
}
.box-4 {
    background: #202c59;
}
.box-5 {
    background: #51cb20;
}


.generic2 {
    background: black;
}





