*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Float for layouts */

div{
    height:200px;
    width: 50%;
    float: left;
}

.div-one {
    background: red;
}
.div-two {
    background: green;
}
.div-three {
    background: blue;
}

.div-four{
    background:yellow;
}
