*{
    margin: 0;
}


.hero {
    min-height: 100vh;
    background: blue;
    background: url(../img/hero-bcg.jpeg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-transform: uppercase;
    font-size: 60px;
    color: red;
}

.banner {
    min-height: 100vh;
    background: blue;
}