*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;

}


.cell{
    padding: 2rem;
    background: #dedede;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 1px solid red;
    color: white;
    
}

.container-2{
    display: grid;
    /* justify-content:center; */
    height: 100vh;
    background-color: #222;
    align-content:center; 
    
}

.container{
    /* min-height: 100vh; */
    width: 80vw;
    max-width: 1040px;
    margin: 0 auto;
    height: 50vh;
    max-height: 1040px;
   /*  align-items: center; */
    justify-items: center;

    border: 5px solid blue;
    display: grid;
    
    gap: 1rem 1rem;
    grid-template-areas:
        "a a a"
        "a a a"
        "b b c"
        "d d c";
       
}
.cell-1{
    grid-area: a;
}
.cell-2{
    grid-area: b;
}
.cell-3{
    grid-area: c;
}
.cell-4{
    order: -1;
    grid-area: d;
}

@media screen and (min-width:100px) {
    
}


.cell-1{
    background: #581f18;
}
.cell-2{
    background: #f0a202;
}
.cell-3{
    background: #d95d39;
}
.cell-4{
    background: #202c59;
}
.cell-5{
    background: #51cb20;
}